<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

	<body>
		
		<%- include('./partials/header') %>

		<main class="home">
			<img src="/images/node.jpg" width="60%">
		</main>

		<%- include('./partials/scripts') %>

	</body>

</html>